/* reset css 적용*/
@import "reset.css";

/* 폰트 적용*/
*{ font-family: 'Noto Sans KR', sans-serif;}

/* board.html 적용*/
#gnb{
    border: 1px solid black;
    background-color: lightgrey;
    position: fixed;
    width: 100%;
    height: 50px;
    box-sizing: content-box;
    z-index: 9999;
}
#gnb > div{
    position: absolute;
    display: inline-block;
    right: 50%;
    font-weight: bold;
    font-size:30px;
}
#wrap{
    position: relative;
    top: 80px;
    border: 1px solid black;
    width: 95%;
    margin: auto;
}

/* board 시작----------------------------------------------*/
#board-section{
    margin: auto;
    position: relative;
    top: 80px;
}
.board-table{
    margin: auto;
    width: 95%;
}
.board-table tr:first-child{
    background-color: lightgray;
}
.board-table tr{
    border: 1px solid rgb(0, 0, 0);
    display: block;
    margin-bottom: 10px;
}
.board-table td{
    display: inline-block;
    width: calc(95%/4);
    padding: 15px;
    text-align: center;
}
.board-table tr:nth-child(2) td:nth-child(2) a::after{
    content: "new";
    border: 1px solid red;
    color: red;
    padding: 0 10px;
    position: absolute;
    background-color: rgb(241, 218, 188);
}
#board-footer{
    text-align: center;
    margin-top: 100px;
}
#board-footer div{
    display: inline-block;
    padding: 5px;
}
#board-footer a{
    color: black;
}
#board-footer a:hover{
    color: red;
}
/* board 끝-------------------------------------*/
/* content 시작-----------------------------------*/
.content-backtolist{
    position: absolute;
    top: 60px;
    right: 5%;
    font-weight: bold;
}
.content-box{
    margin: auto;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content-box ul{
    display: block;
}
.content-box ul li{
    display: inline-block;
    width: calc(90%/4);
    vertical-align: top;
}
.content-box ul li:nth-child(1){
    width: 10%;
    font-weight: bold;
}
.content-box ul li:nth-child(3){
    width: 10%;
    font-weight: bold;
}
.content-box ul li:nth-child(2){
    width: 35%;
}
.content-box ul li:nth-child(4){
    width: 35%;
}
.content-box ul:nth-child(2) li:last-child .content-profile{
    visibility: hidden;
    border: 1px solid black;
    padding: 15px;
    margin-left: 30px;
    width: 100px;
    background-color: lightgray;
    position: absolute;
}
.content-box ul:nth-child(2) li:last-child a:active+.content-profile{
    visibility: visible;
}
.content-image{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
}
.content-image img{
    width: 100%;
}
.content-content{
    width: 100%;
}
.content-footer{
    margin-top: 20px;
}
.content-banner{
    position: absolute;
    width: 100%;
    margin-top: 10px;
}
.content-banner img{
    width: 100%;
}
/* content 끝-----------------------------------*/
/* sign_in 시작-----------------------------------*/
.signin-welcome .signin-agree{
    margin-right: 5px;
}
.signin-info div{
    margin-top: 10px;
}
.signin-info div div{
    width: 100px;
    display: inline-block;
}
.signin-info input{
    padding: 3px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    margin-right: 3px;
}
.signin-address div:first-child{
    vertical-align: top;
}
.signin-address input[type=text]:last-child{
    display: block;
    margin-top: 3px;
}
.signin-info select{
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 5px;
}
.signin-info > input[type=button]{
    margin-left: 500px;    
    margin-top: 20px;
    padding: 5px;
    border-radius: 0;
}
input[type=number]{
    width: 100px;
}
input[type=number]::-webkit-inner-spin-button{
    appearance: none;
}
.signin-info .signin-id{
    position: absolute;   
    width: 600px; 
    font-size: small;
    color: red;
    margin-left: 3px;
}
.signin-info .signin-password{
    position: absolute;   
    width: 600px; 
    font-size: small;
    color: red;
    margin-left: 3px;
}

/* sign_in 끝-----------------------------------*/
/* reply 시작-----------------------------------*/

.reply-scroll{
    overflow: scroll;
    height: 500px;
}

.reply-reply img{
    width: 15%;
    border-radius: 100px;
    border: 1px solid black;
    vertical-align: top;
}
.reply-reply div{
    margin-left: 10px;
    display: inline-block;
    width: 80%;
}
.reply-replyinput{
    position: absolute;
    width: 100%;
    bottom: 40px;
}
.reply-replyinput input[type=text]{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    background-color: lightgray;
}
.reply-replyinput input[type=button]{
    margin-left: 10px;
    width: 15%; 
    height: 100px;
    border: 1px solid black;
    border-radius: 15px;
}

/* reply 끝-----------------------------------*/
/* qna 시작-----------------------------------*/
.qna-question{
    margin:20px 20px;
}
.qna-answer{
    padding-left: 40px;
    height: 0;
    visibility: hidden;
}
.qna-question:active+.qna-answer{
    visibility: visible;
    height: 120px;
    background-color: lightgray;
    border-top: 1px solid black;
}



/* qna 끝-----------------------------------*/