/*board 시작--------------------------------------*/
@import url("./reset.css");
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
    font-family: 'Noto Sans KR', sans-serif;
    }
.gnb {
    display: block;
    position: fixed;
    height:70px;
    top: 0px;
    left:0; 
    right: 0;
}
.board-table{
    width: 95%;
    margin: auto;
    margin-top: 80px;
    text-align: center;
}
.board-table thead tr{
    background-color: grey;
}
.tbody td a{
    text-decoration: none;
}
.board-table tr{
    border: 1px solid black;
    display: block;
    margin-bottom: 5px;
}
.board-table tbody tr.new{
    text-decoration: none;
}
.board-table tr th{
    width: 200px;
    padding: 15px;
}
.board-table tr td{
    width: 200px;
    padding: 15px;
    left: 3px;
}
.board-table tbody td.new a::after{
    content: "new";
    border: 1px solid red;
    padding: 1px 5px;
    background-color: sandybrown;
    color: red;
    border-radius: 10px;
    font-size: 12px;
}
.board-pagination{
    justify-content: center;
}
ul.pagination{
    justify-content: center;
}
.thead tr th:nth-child(2){
    text-align: left;
}
.tbody td a {
    display: block;
    text-align: left;
}
/* board 끝-------------------------------------*/
/* content 시작---------------------------------*/
.content-wrap {
    width: 95%;
    margin: auto;
}
.content-backtolist{
    text-align: right;
    margin-bottom: 10px;
}
.content-backtolist > a{
    text-decoration: none;
}
.content-outline{
    border: 1px solid black;
    margin-bottom: 10px;
    margin-top:80px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    width: 100%;
}
.content-header{
    width: calc(100% + 60px) ;
    margin-left: -30px;
    padding:30px;
    display: flex;
    flex-direction: column;
}
.content-header > div{
    display: flex;
    width: 100%;
}
.content-header > div .data,
.content-header > div .label{
    flex: 0 0 25%;
}
.content-header div .label{
    display: inline-block;
    margin:0;
    padding: 5px;
}
.content-header div .data{
    display: inline-block;
    margin:0;
    vertical-align: top;
    padding: 5px;

}
.content-header .bold{
    font-weight: 700;
}
.content-header .writer.data{
    position: relative;
}
.content-header .dropdown{
    top: 0;
    left: 50px;
    padding: 10px;
    margin-top: 5px;
    position: absolute;
}
.dropdown-menu a{
    text-decoration: none;
}
.content-img img{
    width: 100%;
    max-width: 450px;
    /* 해상도가커지면 사진이 깨지기때문에
    최대너비를 제한하고, 축소할경우에는
    화면밖으로 잘려나가지않게 100%를 맞춤*/
}
.content-body{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
}

.content-footer div{
    margin-bottom: 10px ;
}
.content-footer p{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
}
.content-banner a img{
    width: 100%;
}
/* content 끝---------------------------------*/
/* content-reply 시작------------------*/
.content-scroll{
    overflow: auto;
    height: 500px;
    width: 100%;
}
.content-scroll::-webkit-scrollbar{
    width: 10px;
}
.content-scroll::-webkit-scrollbar-thumb{
    background-color: black;
}
.content-scroll::-webkit-scrollbar-track{
    background-color: lightgray;
}
.user{
    width: 100%;
}
.reply-photo{
    display: inline-block;
    border-radius: 100px;
    overflow: hidden;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}
.reply-section{
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 110px); /* 띄어쓰기*/
    background-color: bisque;
}
.content-replywrite{
    margin-left: 15px;
    width: 100%;
}
.content-replywrite input[type=text]{
    display: inline-block;
    width: 80%;
    height: 100px;
    border-radius: 0;
}
.content-replywrite input[type=button]{
    display: inline-block;
    width: 15%;
    height: 100px;
    border-radius: 10px;
}
/* content-reply 끝---------------------*/
/* signIn 시작--------------------------------*/

.signin-welcome{
    margin-bottom: 30px;
}
.agree-checkbox{
    margin-top: 15px;
    margin-bottom: 0;
}
ul li{
    list-style: none;
}

input[type=text]{
    background-color: gainsboro;
    border-radius: 10px;
}
input[type=password]{
    background-color: gainsboro;
    border-radius: 10px;
}
input[type=number]{
    background-color: gainsboro;
    border-radius: 10px;
}
.form-select{
    background-color: gainsboro;
}
span.warning {
    color: red;
    font-size: 12px;
}
ul {
    padding-inline-start: 0;
}
label{
    width:100px
}
.phoneinput{
    width:90px
}
.signin-list li{
    margin: 10px;
}
.input-group{
    width: 70%;
}
#id {
    display: inline;
}
.col-small{
    display: inline-block;
    width: 200px;
}
.col-extrasmall{
    display: inline-block;
    width: 98px;
}
.col-medium{
    display: inline-block;
    width: 305px;
}
.form-select{
    display: inline-block;
    width: 300px;
}
.last-button{
    text-align: right;
    margin-bottom: 20px;
    margin-right: 195px;
}
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
/* signIn 끝--------------------------------*/
/* qna 시작-----------------------------------*/
.qna-question{
    margin:20px 20px;
}
.qna-answer{
    padding-left: 40px;
    height: 0;
    visibility: hidden;
}
.qna-question:active+.qna-answer{
    visibility: visible;
    height: 120px;
    background-color: lightgray;
    border-top: 1px solid black;
}
/* qna 끝-----------------------------------*/
/* product 시작*/
.product-container{
    margin: auto;
    margin-top: 100px;
    margin-left: 50px;
    display:flex;
    flex-wrap: wrap;
}
.product-item{
    margin-right: 10px;
    margin-bottom: 30px;
}
.product-container .product-buttons{
    text-align: left;
    display: block;
    padding: 0;
}
.product-container .buttons .heart{
    margin: 0;
    padding: 0;
}
.product-container .buttons .cross{
    margin: 0;
    padding: 0;
}
.product-container .product-img{
    margin-right: 0 15px;
}
.product-container .review-like{
    padding: 5px;
    font-weight: 300;
}
.product-container .product-name{
    height: 40px;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
}
.product-container .product-price-1{
    color: gray;
    text-align: right;
    width: 85px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 210px;
}

.product-container .product-name a{
    text-decoration: none;
}
/* product 끝-------------------------------------------------*/
/* smartstore 시작------------------------------------------- */
.wrap{
    height: 100%;
    margin: auto;
    width: 960px;
}
.nav{
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav .nav-img-box{
    min-width: 140px
}
.nav .nav-categories{
    min-width: 405px;
}
.nav .nav-categories .nav-select{
    width: 80px;
    flex-wrap: nowrap;
    border: 0;
}
.content{
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 1000px;
}
.content .content-left{
    border-right: 1px solid lightgray;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.content .content-left input[type=checkbox]{
    display: none;
}
.content .content-left #checkbox-1:checked ~ a .content-img-big-1{
    display:block;
}
.content .content-left #checkbox-1:checked ~ a .content-img-big-2{
    display:none;
}
.content .content-left #checkbox-2:checked ~ a .content-img-big-2{
    display:block;
}
.content .content-left #checkbox-2:checked ~ a .content-img-big-1{
    display:none;
}
.content .content-left .content-img-big-1{
    display: none;
    width: 100%;
    height: 450px;
    left: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.content .content-left .content-img-big-2{
    display: none;
    width: 100%;
    height: 450px;
    left: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}
.content .content-left .content-img-small{
    top: 600px;
    width: 50px;
}
.content .content-left .content-img-small:hover{
    border: 3px solid gray;
}
.content .content-left .review{
    padding: 20px;
    height: 50px;
    width: 90%;
    bottom: 0;
    position: absolute;
}
.content .content-left .review li{
    margin-right: 5px;
    display: inline-block;
}
.content .content-left .review li:nth-child(2n + 1){
    font-size: 12px;
    color: gray;
}
.content .content-left .review li:nth-child(2n){
    font-weight: 1000;
}
.content .content-right{
    border-left: 0;
    width: calc(100% - 80px);
    padding: 40px;
    height: 100%;
}
.content .content-right .product-info .product-name{
    font-weight: 900;
    margin-bottom: 20px;
}
.content .content-right .product-info .product-sale{
    color: skyblue;
    font-size: 24px;
    display: inline-block;
    width: 25%;
}
.content .content-right .product-info .product-price{
    margin-bottom: 10px;
    text-align: right;
    display: inline-block;
    width: calc(75% - 6px);
    min-width: 180px;
}
.content .content-right .product-info .product-price .product-price-1{
    text-decoration: line-through;
    color: lightgray;
    font-size: 12px;
    margin-top: auto;
    display: inline-block;
    min-width: 55px;
    height: 24px;
    vertical-align:middle;
}
.content .content-right .product-info .product-price .product-price-2{
    font-weight: 1000;
    margin-right: 0;
    font-size: 24px;
    display: inline-block;
    min-width: 115px;
}
.content .content-right .promotionbox{
    border: 1px solid black;
    margin-bottom: 15px;
}
.content .content-right .promotionbox .topbox{
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.content .content-right .promotionbox .bottombox{
    padding: 20px;
}
.content .content-right .promotionbox .bottombox .line-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content .content-right .promotionbox .bottombox .line-1 li{
    width: calc(377.39px / 2);
    margin-bottom: 5px;
}
.content .content-right .promotionbox .bottombox .line-1 li:nth-child(2){
    text-align: right;
}    
.content .content-right .promotionbox .bottombox .line-1 li:nth-child(3){
    font-size: small;
    color: gray;
}
.content .content-right .promotionbox .bottombox .line-1 li:nth-child(4){
    font-size: small;
    color: gray;
    text-align: right;
}
.content .content-right .promotionbox .bottombox button{
    border: 1px solid gray;
    padding: 0 4px;
    margin-left: 5px;
}
.content .content-right .promotionbox .bottombox .tipbox .line-2{
    padding: 20px;
    border: 1px solid lightgray;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content .content-right .promotionbox .bottombox .tipbox li{
    margin-bottom: 10px;
}
.content .content-right .promotionbox .bottombox .tipbox li:nth-child(1){
    font-size: 15px;
    font-style: italic;
    color: red;
    font-weight: 600;
}
.content .content-right .promotionbox .bottombox .tipbox li:nth-child(2){
    font-size: 15px;
    text-align: right;
}
.content .content-right .promotionbox .bottombox .tipbox li:nth-child(2n + 3){
    font-size: 12px;
    text-decoration: underline;
    color: gray;
}
.content .content-right .promotionbox .bottombox .tipbox li:nth-child(2n+ 4){
    font-size: 12px;
    text-align: right;
    color: gray;
}
.cash-back{
    width: 100%;
    margin-bottom: 15px;
}
.monthly-pay-card{
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px
}
.monthly-pay-card .button{
    border: 1px solid gray;
    padding: 0 4px;
    margin-left: 5px;
}
.package{
    border-bottom: 1px solid lightgray;
}
.package-box{
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.package-box .package-img{
    border-radius: 100px;
    margin: 15px;
}
.package-box .package-list-1 li:nth-child(1){
    font-weight: 400;
    margin-bottom: 5px;
}
.package-box .package-list-1 li:nth-child(2){
    color: brown;    
    font-size: 12px;
}
.package .package-list-2 li:nth-child(1){
    font-size: 12px;
    margin-bottom: 5px;
}
.package .package-list-2 li:nth-child(2){
    color:gray;
    font-size: 12px;
    margin-bottom: 5px;
}
.package .package-list-2 li:nth-child(3){
    color:brown;
    font-size: 12px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.choose-option-box .choose-color{
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
}
.choose-option-box .choose-size{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
}
.total{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.total .total-button{
    border: 1px solid gray;
    padding: 0 4px;
}
.total > li{
    font-size: 14px;
    font-weight: 600;
}
.total div li:nth-child(1){
    font-size: 12px;
    color: gray;
    text-align: right;
    display: inline-block;
}
.total div li:nth-child(2){
    font-size: 20px;
    color: rgb(165, 108, 42);
    font-weight: 800;
    display: inline-block;
}
.purchase-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
.purchase-buttons .purchase1{
    width: 100%;
    background-color: rgb(88, 194, 111);
    color: white;
    height: 50px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
}
.purchase-buttons .purchase2{
    width: calc(405px / 3);
    background-color: white;
    height: 50px;
    border: 1px solid gray;
    line-height: 50px;
    text-align: center;
    color: black;
}
.purchase-buttons .purchase2:hover{
    border: 1px solid rgb(88, 194, 111);
}
/* smartstore 끝------------------------------------------- */
/* emart 시작------------------------------------------ */
.emart-wrap{
    width: 1440px;
    margin: auto;
    text-align: center;
}
.emart-header{
    margin: 30px;
}
.emart-header .emart-mall{
    display: block;
    margin: 15px auto;
}
.emart-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.emart-content img{
    width: 256px;
    height: 256px;
    margin: 10px;
    border-radius: 10px;
}
.emart-content .emart-product-1{
    margin: 10px;
    border-radius: 10px;
    height: 600px;
    background-color: rgb(240, 167, 72);
}
.emart-content .emart-product-1 .emart-welcome-package{
    padding: 40px;
    color: white;
}
.emart-content .emart-product-1 .emart-welcome-package li:first-child{
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
}
.emart-content .emart-product-1 .go-to-exhibition{
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    margin: 50px auto;
}
.emart-content .emart-product-1 .go-to-exhibition li{
    color: white;
    font-size: 20px;
    padding: 10px;
}
/* emart 끝------------------------------------------ */