/* customer-service 시작----------------------------------------*/
@media all and (max-width: 720px){
  .customer-service-wrap{
    width: 100%; //<-- 예시
    height: 100%;
    .customer-service-header{
      width: 100%;
      margin: 0;
      top: 0;
      .question-input-box{
        justify-content: flex-start;
        .question-input-title{
          font-size: 16px;
        }
        .question-input{
          width: 50%;
          font-size: 14px;
        }
        a{
          width: 10%;
        }
        .question-input-submit{
        }
      }
      .question-type-box{
        font-size: 10px;
      }      
    }
    .topten-questions-wrap{
      background-color: rgb(238, 238, 238);
      padding: 20px;
      overflow:scroll;
      .topten-questions-header{
        text-align: left;
      }
      .topten-questions{
        background-color: rgb(238, 238, 238);
        margin: 40px 0 0 0;
        border: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        .topten-questions-item{
          background-color: white;
          margin: 0 5px;
          display: inline-block;
          width: 150px;
          height: 130px;
          overflow: hidden;
          .topten-questions-number{
            font-size: 15px;
          }
        }
      }
    }
    .question-category-wrap{
      width: 100%;
      .question-category-item{
      }
    }
    .customer-service-benefit-wrap{
      overflow: scroll;
      top: 700px;
      .benefit-icon{
        width: 100%;
      }
    }
    .customer-service-questions-wrap{
      top: 750px;
      width: 100%;
    }
    .customer-service-footer{
      bottom: 0;
      width: 100%;
    }
  }
}
/* customer-service 끝----------------------------------------*/
