/* customer-service 시작----------------------------------------*/
.customer-service-wrap{
    width: 1320px;
    margin: 30px auto;
    text-align: center;
    .customer-service-header{
        width: 60%;
        text-align: left;
        margin: 20px auto;
        margin-bottom: 100px;
        .question-input-box{
            border-bottom: 5px solid black;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .question-input-title{
                font-size: 35px;
                font-weight: 700;
            }
            .question-input{
                width: 60%;
                border: 0;
                color: gray;
                font-size: 24px;
            }
            .question-input-submit{
                padding-top: 15px;
            }
            .question-input-busy{
                .question-input-busy-img-1{
                    display: inline-block;
                }
                .question-input-busy-img-2{
                    display: inline-block;
                    position: absolute;
                }
            }
        }
        .question-type-box{
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            .question-type-left{
                display: flex;
                li{
                    color: gray;
                    border-right: 1px solid gray;
                    padding: 0 5px 0 5px;
                    &:last-child{
                        border: 0;
                    }
                }
            }
            .question-type-right{
                display: flex;
                li{
                    border-left: 1px solid gray;
                    padding: 0 5px 0 5px;
                    &:first-child{
                        border: 0;
                    }
                    &.question-center-talk{
                        a{
                            color: blue;
                        }
                    }
                }
            }
        }
    }
    .topten-questions-wrap{
        .topten-questions-header{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .topten-questions{
            border: 1px solid black;
            display: flex;
            flex-wrap: wrap;
            word-break: keep-all;
            .topten-questions-item{
                box-sizing: border-box;
                display: flex;
                align-items:flex-start;
                flex: 0 0 20%;
                justify-content: center;
                font-size: 14px;
                line-height: 20px;
                border-right: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                overflow: hidden;
                a{
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    display: flex;
                    justify-content:flex-start;
                    flex-direction: column;
                    padding: 20px;
                    .topten-questions-number{
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                }
                &:hover{
                    background-color: black;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .question-category-wrap{
        margin-top: 80px;
        border-top: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        .question-category-item{
            display: flex;
            align-items: center;
            justify-content: center;
            flex:0 0 20%;
            height: 80px;
            box-sizing: border-box;
            border-right: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            &:first-child{
                border-left: 1px solid lightgray;
            }
            &:nth-child(6){
                border-left: 1px solid lightgray;
            }
            a{
                display: block;
                width: 100%;
                height: 100%;
                line-height: 78px;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .customer-service-benefit-wrap{
        margin: 40px 10px;
        display: flex;
        justify-content: space-between;
        .benefit-icon{
            border: 1px solid lightgray;
            border-radius: 20px;
            margin: 0 5px;
            font-size: 14px;
            &:hover{
                background-color: rgb(255, 117, 117);
                a{
                    color: white;
                }
            }
            a{
                display: block;
                padding: 10px 18px;
            }
        }
    }
    .customer-service-questions-wrap{
        margin-top: 50px;
        .customer-service-question-box{
            text-align: left;
            border-bottom: 1px solid lightgray;
            position: relative;
            .customer-service-question{
                padding: 35px 0;
                width: 100%;
                display: block;
                span:first-child{
                    font-weight: 700x;
                    font-size: 20px;
                }
                span:last-child{
                    position: absolute;
                    right: 20px;
                }
            }
            .customer-service-answer-box{
                display: none;
                text-align: left;
                padding: 40px;
                background-color: rgb(231, 231, 231);
                line-height: 25px;
                font-size: 14px;
            }
        }
    }
    .customer-service-footer{
        margin: 50px 0;
        a{
            font-size: 12px;
            border: 1px solid lightgray;
            padding: 5px 10px;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
}// customer-service-wrap 













/* customer-service 끝----------------------------------------*/
