/* customer-service 시작----------------------------------------*/
.customer-service-wrap{
    width: 1320px;
    margin: 30px auto;
    text-align: center;
    .customer-service-header{
        width: 60%;
        text-align: left;
        margin: 20px auto;
        margin-bottom: 100px;
        .question-input-box{
            border-bottom: 5px solid black;
            padding-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .question-input-title{
                font-size: 35px;
                font-weight: 700;
            }
            .question-input{
                width: 60%;
                border: 0;
                color: gray;
                font-size: 24px;
            }
            .question-input-submit{
                padding-top: 15px;
            }
            .question-input-busy{
                .question-input-busy-img-1{
                    display: inline-block;
                }
                .question-input-busy-img-2{
                    display: inline-block;
                    position: absolute;
                }
            }
        }
        .question-type-box{
            margin: 20px auto;
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            .question-type-left{
                display: flex;
                li{
                    color: gray;
                    border-right: 1px solid gray;
                    padding: 0 5px 0 5px;
                    &:last-child{
                        border: 0;
                    }
                }
            }
            .question-type-right{
                display: flex;
                li{
                    border-left: 1px solid gray;
                    padding: 0 5px 0 5px;
                    &:first-child{
                        border: 0;
                    }
                    &.question-center-talk{
                        a{
                            color: blue;
                        }
                    }
                }
            }
        }
    }
    .topten-questions-wrap{
        .topten-questions-header{
            font-size: 24px;
            margin-bottom: 20px;
        }
        .topten-questions{
            border: 1px solid black;
            display: flex;
            flex-wrap: wrap;
            word-break: keep-all;
            .topten-questions-item{
                box-sizing: border-box;
                display: flex;
                align-items:flex-start;
                flex: 0 0 20%;
                justify-content: center;
                font-size: 14px;
                line-height: 20px;
                border-right: 1px solid lightgray;
                border-bottom: 1px solid lightgray;
                overflow: hidden;
                a{
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    display: flex;
                    justify-content:flex-start;
                    flex-direction: column;
                    padding: 20px;
                    .topten-questions-number{
                        font-size: 24px;
                        margin-bottom: 15px;
                    }
                }
                &:hover{
                    background-color: black;
                    a{
                        color: white;
                    }
                }
            }
        }
    }
    .question-category-wrap{
        margin-top: 80px;
        border-top: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            border: 1px solid lightgray;
            width: 20%;
            height: 80px;
        }
    }
}













/* customer-service 끝----------------------------------------*/
