/* customer-service 시작----------------------------------------*/
@media all and (max-width: 720px){
  .customer-service-wrap{
    width: 100%; //<-- 예시
    height: 100%;
    .customer-service-header{
      width: 100%;
      margin: 0;
      top: 0;
    }
    .topten-questions-wrap{
      background-color: rgb(238, 238, 238);
      padding: 20px;
      width: 100%;
      overflow:scroll;
      .topten-questions-header{
        position: fixed;
        text-align: left;
      }
      .topten-questions{
        background-color: rgb(238, 238, 238);
        margin: 40px 0 0 0;
        border: 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        li{
          background-color: white;
          margin: 0 5px;
          display: inline-block;
          width: 150px;
          height: 130px;
          overflow: hidden;
          padding: 15px 5px 15px 5px;
          .topten-question-number{
            font-size: 12px;
          }
        }
      }
    }
    .question-category-wrap{
      position: fixed;
    }
    .customer-service-benefit-wrap{
      position: fixed;
      top: 700px;
    }
    .customer-service-questions-wrap{
      position: fixed;
      top: 750px;
    }
    .customer-service-footer{
      position: fixed;
      bottom: 0;
    }
  }
}
/* customer-service 끝----------------------------------------*/
