.daum-mail-wrap{
    background-color: white;
    .gnb-top{
        display: flex;
        justify-content: space-between;
        background-color: $daum-mail-gnb-top;
        padding: 15px;
        color: white;
        align-items: center;
        font-size: 14px;
        a{
            color: white;
        }
        .gnb-top-left{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            li{
                padding:10px 10px;
                flex-shrink: 0;
                border-radius: 5px;
            }
            .main-logo{
                width: 200px;
                font-size: 20px;
                img{
                    vertical-align: -5px;
                }
            }
            .delete{
                &:hover{
                    background-color: #80abe4;
                }
            }
            .spam-prevent{
                &:hover{
                    background-color: #80abe4;
                }
            }
            .forward{
                &:hover{
                    background-color: #80abe4;
                }
            }
            .move{
                &:hover{
                    background-color: #80abe4;
                }
                .mail-move-menu{
                    display: none;
                }
            }
            .checked-mail{
                &:hover{
                    background-color: #80abe4;
                }
                .mail-checked-menu{
                    display: none;
                }
            }
            .unread-mail{
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .total-mail{
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                    color:#9ebce4
                }
            }
        }
        .gnb-top-right{
            display: flex;
            background-color: $daum-mail-gnb-top;
            a{
                width: 30px;
                height: 30px;
                margin: 0 10px;
            }
            .search-icon{
                background: url('../../src/img/daum-mail/daum_search.png');
                background-repeat: no-repeat;                
                background-position: 5px;
            }
            .profile-icon{
                background: url('../../src/img/daum-mail/daum_profile.png');
                background-repeat: no-repeat;                
                background-position: 3px;
            }
            .menu-icon{
                background: url('../../src/img/daum-mail/daum_menu.png');
                background-repeat: no-repeat;                
                background-position: 5px;
            }
        }
    }
    .gnb-left{
        position: fixed;
        border: 1px solid lightgray;
        width: 220px;
        .write-box{
            display: flex;
            justify-content: space-between;
            .write{
                padding: 20px;
                font-weight: 700;
            }
        }
    }
}    