.daum-mail-wrap{
    .gnb-top{
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $daum-mail-gnb-top;
        padding: 15px;
        color: white;
        align-items: center;
        font-size: 14px;
        a{
            color: white;
        }
        .gnb-top-left{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            li{
                padding:10px 10px;
                flex-shrink: 0;
                border-radius: 5px;
            }
            .main-logo{
                width: 200px;
                font-size: 20px;
                img{
                    vertical-align: -5px;
                }
            }
            .top-item{
                &:hover{
                    background-color: #80abe4;
                }
                .top-item-hidden{
                    display: none;
                }
            }
            .unread-mail{
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .total-mail{
                a{
                    &:hover{
                        text-decoration: underline;
                    }
                    color:#9ebce4
                }
            }
        }
        .gnb-top-right{
            display: flex;
            background-color: $daum-mail-gnb-top;
            a{
                width: 30px;
                height: 30px;
                margin: 0 10px;
            }
            .search-icon{
                background: url('../../src/img/daum-mail/daum_search.png');
                background-repeat: no-repeat;                
                background-position: 5px;
            }
            .profile-icon{
                background: url('../../src/img/daum-mail/daum_profile.png');
                background-repeat: no-repeat;                
                background-position: 3px;
            }
            .menu-icon{
                background: url('../../src/img/daum-mail/daum_menu.png');
                background-repeat: no-repeat;                
                background-position: 5px;
            }
        }
    }
    .gnb-left{
        background-color: white;
        position: fixed;
        border: 1px solid lightgray;
        width: 220px;
        height: 100%;
        top: 75px;
        a{
            color: black;
        }
        .write-box{
            display: flex;
            justify-content: center;
            border-bottom: 1px solid $daum-mail-gnb-top;
            .write{
                width: 50%;
                text-align: center;
                padding: 20px;
                font-weight: 700;
                font-size: 12px;
                &:first-child{
                    border-right: 1px solid lightgray;
                }
            }
        }
        .left-box{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: calc(100% - 160px);
            align-content: space-between;
            .left-top-wrap{
                padding-top: 30px;
                width: 85%;
                font-size: 12px;
                button{
                    background-color: white;
                    border: 1px solid lightgray;
                    font-size: 10px;
                }
                .left-margin{
                    margin-left: 12px;
                }
                .mail-box-wrap{
                    margin-bottom: 20px;
                    .header{
                        color: gray;
                    }
                    .mail-box{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 10px;
                        .sidemenu-opener{
                            display: none;
                        }
                    }
                }
                .left-bottom-wrap{
                }
            }
        }
    }
    .content-wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: -1;
        position: absolute;
        top: 76px;
        left: 223px;
        width: calc(100% - 223px);
        height: calc(100% - 110px);
        background-color: white;
        .mail-list{
            font-size: 14px;
            font-weight: 700;
            width: 100%;
            .mail-item{
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
                border-bottom: 1px solid lightgray;
                .mail-title{
                    display: inline-block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    min-width: 300px;
                }
            }
        }
        .page-number{
            display: flex;
            width: 90%;
        }
        .show-option{
            display: none;
        }
    }
    .gnb-bottom{
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        font-size: 12px;
        border-top: 1px solid lightgray;
        position: fixed;
        left: 222px;
        bottom: 0;
        width: calc(100% - 220px);
        background-color: white;
        .gnb-bottom-left{
            min-width: 300px;
            a {
                color: black;
            }
        }
        .gnb-bottom-right{
            min-width: 400px;
            a{
                color: gray;
            }
        }
    }
}    