/* emart 시작------------------------------------------ */
.emart-wrap{
    min-width: 1200px;
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
.emart-header{
    margin: 30px auto;
    .emart-mall{
        display: block;
        margin: 15px auto;
    }
}
.emart-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    img{
        width: 250px;
        height: 250px;
        border-radius: 10px;
        &:hover{
            border: 5px solid yellowgreen;
            transform: scale(1.1);
            transition-duration: 0.5s;
        }
    }
    .emart-product-1{
        width: 250px;
        margin: 10px 10px 40px 10px;
        border-radius: 10px;
        height: 550px;
        background: linear-gradient(rgb(255, 153, 0) 0%,rgb(255, 245, 230) 50%,rgb(255, 153, 0) 100%); 
        .emart-welcome-package{
            padding: 40px;
            color: white;
            li:first-child{
                font-weight: 800;
                font-size: 22px;
                margin-bottom: 10px;
                line-height: 30px;
            }
        }
        .go-to-exhibition{
            border: 1px solid white;
            border-radius: 20px;
            width: 200px;
            margin: 20px auto;
            li{
                color: white;
                font-size: 20px;
                padding: 10px;
            }
        }
    }
    .emart-product-standard{
        margin: 10px 10px 40px 10px;
        a{
            display: block;
        }
        .milk{
            color: black;
            text-align: left;
            margin: 10px;
            li{
                margin-bottom: 10px;
                &:nth-child(2){
                    font-size: 24px;
                    font-weight: 800;
                }
                &:nth-child(4)::first-letter{
                    color: red;
                }
            }
            span{
                color: rgb(77, 212, 77);
            }
        }
    }
}
.emart-footer{
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    margin: 100px auto;
    color: white;
    width: 300px;
    border-radius: 50px;
    background-color: rgb(255, 186, 36);
}
.ssg{
    margin: 100px auto;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
}
/* emart 끝------------------------------------------ */