/* emart 시작------------------------------------------ */
.emart-wrap{
    width: 1440px;
    margin: auto;
    text-align: center;
}
.emart-header{
    margin: 30px;
    .emart-mall{
        display: block;
        margin: 15px auto;
    }
}
.emart-content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    img{
        width: 250px;
        height: 250px;
        margin: 10px;
        border-radius: 10px;
    }
    .emart-product-1{
        margin: 10px;
        border-radius: 10px;
        height: 550px;
        background-color: rgb(240, 167, 72);
        .emart-welcome-package{
            padding: 40px;
            color: white;
            li:first-child{
                font-weight: 800;
                font-size: 24px;
                margin-bottom: 10px;
                line-height: 30px;
            }
        }
        .go-to-exhibition{
            border: 1px solid white;
            border-radius: 20px;
            width: 200px;
            margin: 20px auto;
            li{
                color: white;
                font-size: 20px;
                padding: 10px;
            }
        }
    }
    .emart-product-2{
        .milk{
            li
        }
    }
}
/* emart 끝------------------------------------------ */