.hometax-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    .gnb-wrap{
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid lightgray;
        .gnb{
            min-width: rem(980);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: rem(960);
            height: rem(60);
            font-weight: bold;
            .gnb-left{
                a{
                    color: rgb(0, 132, 255);
                }
                img{
                    vertical-align: rem(-18);
                }
            }
            .gnb-center{
                min-width: rem(640);
                display: flex;
                justify-content: space-around;
                height: 100%;
                align-items: center;
                .center-item{
                    display: flex;
                    color: black;
                    height: 100%;
                    align-items: center;
                    .center-item-title{
                        color: black;
                        display: flex;
                        align-items:center;
                        box-sizing: content-box;
                        height: calc(100% - rem(8));
                        &:hover{
                            color: rgb(74, 147, 255);
                            border-bottom: 8px solid rgb(74, 147, 255);
                            border-top: 8px solid white;
                        }
                    }
                    .mega-drop{
                        display: none;
                        justify-content: center;
                        position: absolute;
                        background-color: white;
                        top: rem(60);
                        left: 0;
                        border-bottom: 1px solid rgb(0, 132, 255);
                        width: 100%;
                        .mega-drop-small{
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            width: rem(1020);
                            max-height: rem(700);
                            overflow: auto;
                            overflow-x: hidden;
                            .column-line{
                                width: rem(250);  
                                margin: rem(20) rem(10);  
                                .second-depth{
                                    width: 100%;
                                    margin-bottom: rem(20);
                                    header{
                                        font-size: rem(14);
                                        padding: rem(10) 0;
                                        margin-bottom: rem(10);
                                        border-bottom: 1px solid lightgray;
                                        color: #003471
                                    }
                                    .third-depth{
                                        font-size: rem(12);
                                        font-weight: 400;
                                        padding: rem(5) 0 rem(5) rem(12);
                                        line-height: rem(18);
                                        &::before{
                                            content: '⊙';
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
 
            }
        }
    }
    .content{
        margin-top: rem(20);
        width: rem(960);
    }
}