
/* qna 시작-----------------------------------*/
.practice-qna-question{
    margin:20px 20px;
}
.practice-qna-answer{
    padding-left: 40px;
    height: 0;
    visibility: hidden;
}
.practice-qna-question{
    &:active{
        &+.qna-answer{
        visibility: visible;
        height: 120px;
        background-color: lightgray;
        border-top: 1px solid black;
        }
    }
}
/* qna 끝-----------------------------------*/