
/* smartstore 시작------------------------------------------- */
.wrap{
    height: 100%;
    margin: auto;
    width: 960px;
}
.nav{
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.nav{
    .nav-img-box{
        min-width: 140px
    }
    .nav-categories{
        min-width: 405px;
        .nav-select{
           width: 80px;
           flex-wrap: nowrap;
           border: 0;
       }
    }
}

.content{
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 1000px;
    .content-left{
        border-right: 1px solid lightgray;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;
        input[type=checkbox]{
            display: none;
        }
        #checkbox-1:checked ~ a{
            .content-img-big-1{
                display:block;
            }
            .content-img-big-2{
                display:none;
            }
        }
        #checkbox-2:checked ~ a{
            .content-img-big-2{
                display:block;
            }
            .content-img-big-1{
                display:none;
            }
        }
        .content-img-big-1{
            display: none;
            width: 100%;
            height: 450px;
            left: 0;
            margin-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }
        .content-img-big-2{
            display: none;
            width: 100%;
            height: 450px;
            left: 0;
            margin-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }
        .content-img-small{
            top: 600px;
            width: 50px;
        }
        .content-img-small
            &:hover{
                border: 3px solid gray;
                }
        .review{
            padding: 20px;
            height: 50px;
            width: 90%;
            bottom: 0;
            position: absolute;
            li{
                margin-right: 5px;
                display: inline-block;
                &:nth-child(2n + 1){
                font-size: 12px;
                    color: gray;
                }
                &:nth-child(2n){
                    font-weight: 1000;
                }
            }
        }
    }
    .content-right{
        border-left: 0;
        width: calc(100% - 80px);
        padding: 40px;
        height: 100%;
        .product-info{
            .product-name{
                font-weight: 900;
                margin-bottom: 20px;
            }
            .product-sale{
                color: skyblue;
                font-size: 24px;
                display: inline-block;
                width: 25%;
            }
            .product-price{
                margin-bottom: 10px;
                text-align: right;
                display: inline-block;
                width: calc(75% - 6px);
                min-width: 180px;
            }
        }
        .product-info .product-price .product-price-1{
            text-decoration: line-through;
            color: lightgray;
            font-size: 12px;
            margin-top: auto;
            display: inline-block;
            min-width: 55px;
            height: 24px;
            vertical-align:middle;
        }
        .product-info .product-price .product-price-2{
            font-weight: 1000;
            margin-right: 0;
            font-size: 24px;
            display: inline-block;
            min-width: 115px;
        }
        .promotionbox{
            border: 1px solid black;
            margin-bottom: 15px;
            .topbox{
                border-bottom: 1px solid lightgray;
                padding: 20px;
            }
            .bottombox{
                padding: 20px;
                .line-1{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .line-1{
                    li{
                        width: calc(377.39px / 2);
                        margin-bottom: 5px;
                    }
                    li{
                        &:nth-child(2){
                            text-align: right;
                        }
                    }    
                    li{
                        &:nth-child(3){
                            font-size: small;
                            color: gray;
                        }
                    }    
                    li{
                        :nth-child(4){
                            font-size: small;
                            color: gray;
                            text-align: right;
                        }
                    }
                }
                button{
                    border: 1px solid gray;
                    padding: 0 4px;
                    margin-left: 5px;
                }
                .tipbox{
                    .line-2{
                        padding: 20px;
                        border: 1px solid lightgray;
                        background-color: rgb(248, 248, 248);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                    li{
                        margin-bottom: 10px;
                        &:nth-child(1){
                            font-size: 15px;
                            font-style: italic;
                            color: red;
                            font-weight: 600;
                        }
                        &:nth-child(2){
                            font-size: 15px;
                            text-align: right;
                        }
                        &:nth-child(2n + 3){
                            font-size: 12px;
                            text-decoration: underline;
                            color: gray;
                        }
                        &:nth-child(2n+ 4){
                            font-size: 12px;
                            text-align: right;
                            color: gray;
                        }
                    }
                }
            }
        }
    }
}
.cash-back{
    width: 100%;
    margin-bottom: 15px;
}
.monthly-pay-card{
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 15px;
    .button{
        border: 1px solid gray;
        padding: 0 4px;
        margin-left: 5px;
        }
}
.package-box{
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .package-img{
        border-radius: 100px;
        margin: 15px;
    }
    .package-list-1 li:nth-child(1){
        font-weight: 400;
        margin-bottom: 5px;
    }
    .package-list-1 li:nth-child(2){
        color: brown;    
        font-size: 12px;
    }
}
.package{
    border-bottom: 1px solid lightgray;
    .package-list-2{ 
        li:nth-child(1){
        font-size: 12px;
        margin-bottom: 5px;
        }
        li:nth-child(2){
            color:gray;
            font-size: 12px;
            margin-bottom: 5px;
        }
        li:nth-child(3){
            color:brown;
            font-size: 12px;
            margin-bottom: 20px;
            text-decoration: underline;
        }
    }
}
.choose-option-box{
    .choose-color{
        margin-top: 15px;
        margin-bottom: 5px;
        width: 100%;
        padding: 10px;
    }
    .choose-size{
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
    }
}
.total{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    .total-button{
        border: 1px solid gray;
        padding: 0 4px;
    }
    > li{
        font-size: 14px;
        font-weight: 600;
    }
    div li:nth-child(1){
        font-size: 12px;
        color: gray;
        text-align: right;
        display: inline-block;
    }
    div li:nth-child(2){
        font-size: 20px;
        color: rgb(165, 108, 42);
        font-weight: 800;
        display: inline-block;
    }
}
.purchase-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
    .purchase1{
        width: 100%;
        background-color: rgb(88, 194, 111);
        color: white;
        height: 50px;
        margin-bottom: 5px;
        text-align: center;
        line-height: 50px;
    }
    .purchase2{
        width: calc(405px / 3);
        background-color: white;
        height: 50px;
        border: 1px solid gray;
        line-height: 50px;
        text-align: center;
        color: black;
        &:hover{
            border: 1px solid rgb(88, 194, 111);
        }
    }
}
/* smartstore 끝------------------------------------------- */