body{
    background-color: $background-color;
}
.ssg-thumbnail-img{ 
    img{
        width: 100%;
    }
}
.ssg-gnb-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: white;
    color: black;
    text-decoration: none;
    text-align: center;
    .ssg-gnb-top-left{
        display: inline-block;
        position: absolute;
        left: 20px;
        top: 15px;
        .ssg-gnb-top-left-img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    .ssg-gnb-top-middle{
        display: inline-flex;
        justify-content:space-between;
        flex-wrap: wrap;
        font-weight: 700;
        align-items:flex-start;
        .ssg-gnb-top-middle-toggle{
            margin: 0 10px;
            .ssg-gnb-top-review-count{
                color: lightgray;
                font-size: 12px;
            }
            .ssg-gnb-top-qna{
                color: lightgray;
                font-size: 12px;
            }
        }
    }
    .ssg-gnb-top-right{
        display: inline-block;
        position: absolute;
        right: 20px;
        .ssg-gnb-top-right-img{
            display: inline-block;
            width: 40%;
            height: 100%;
        }
    }
}
.ssg-gnb-side{
    position: fixed;
    bottom: 60px;
    height: 100px;
    right: 10px;
    .ssg-gnb-side-icon{
        text-align: right;
        display: block;
        height: 40px;
        margin-top: 10px;
        img{
            border-radius: 10px;
        }
    }
}
.ssg-gnb-bottom{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    background-color: white;
    align-items: center;
    border: 1px solid gray;
    position: fixed;
    bottom: 0;
    flex: 0 0 20%;
        .ssg-gnb-bottom-button{
        padding: 15px;
        height: 20px;
        .ssg-gnb-bottom-present-img{
            vertical-align: top;
        }
        &:first-child{
            border-right: 1px solid gray;
            text-align: center;
        }
        &:nth-child(2){
            text-align: center;
            min-width: 90px;
        }
        &:last-child{
            text-align: center;
            color: white;
            background-color: $emphas-color;
            width: 100%;
        }
    }
}
.ssg-wrap{
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid $background-color;
    .ssg-app-download{
        display: block;
        margin-top: 80px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .ssg-search-bar{
        display: flex;
        margin: 20px 0 0 0;
        align-items: center;
        justify-content: space-between;
        .ssg-search-bar-left{
            width: 86px;
        }
        .ssg-search-bar-middle{
            background-color: $background-color;
            border-radius: 20px;
            margin: 0 10px 0 30px;
            height: 40px;
            border: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            input[type=text]{
                box-sizing: border-box;
                padding: 0 20px;
                border: 0;
                width: 100%;
                height: 40px;
                border-radius: 20px;
                background-color: $background-color;
            }
            input[type=button]{
                background-image: url('../../src/img/SSG/SSG_mobile_5.png');
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 20px;
                width: 40px;
                height: 40px;
                border: 0;
                right: 0;
            }
        }
    }
    .ssg-share-sns-bar{
    img{
        vertical-align: -5px;
    }
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid $background-color;
    margin-bottom: 20px;
    padding-bottom: 10px;
    }
    .ssg-productor-product-name{
        text-align: left;
        margin: 0 0 20px 0;
        .ssg-productor-name{
            text-decoration: underline;
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 10px;
        }
        .ssg-product-name{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .ssg-product-price-wrap{
        text-align: left;
        margin-bottom: 20px;
        .ssg-product-price-wrap-top{
            margin-bottom: 5px;
        }
        .ssg-product-price-original{
            text-decoration:line-through;
            color: gray;
        }
        .ssg-product-price-involve-coupon{
            border: 1px solid $emphas-color;
            font-size: 10px;
            color: $emphas-color;
        }
        .ssg-product-price-percentage{
            color: $emphas-color;
            font-size: 24px;
            font-weight: 700;
        }
        .ssg-product-price-discounted{
            font-size: 24px;
            font-weight: 700;
        }
    }
    .ssg-coupon-wrap{
        .ssg-coupon-starbucks{
            margin-bottom: 20px;
            a{
                display: block;
                height: 100%;
                img{
                    width: 100%;
                }
            }
        }
        .ssg-coupon-download{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 15px;
            border: 0;
            border-radius: 10px;
            background: linear-gradient(to right,orange, rgb(255, 106, 131), rgb(161, 83, 161), rgb(112, 112, 255), rgb(44, 138, 114));
            color: white;
            font-size: 12px;
            p{
                line-height: 16px;
                &::first-line{
                    font-size: 16px;
                    line-height: 36px;
                }
            }
            .ssg-coupon-download-button{
                background-image: url('../../src/img/SSG/SSG_mobile_11.png');
                background-repeat: no-repeat;
                width: 20px;
                height: 23px;
                border: 0;

            }
        }
        .ssg-coupon-notice{
            text-align: left;
            color: gray;
            padding: 10px;
            font-size: 12px;
        }
    }
    .ssg-review-score-count-wrap{
        display: flex;
        margin-top: 20px;
        border-bottom: 1px solid $background-color;
        padding-bottom: 10px;
        margin-bottom: 20px;
        .ssg-review-score{
            font-weight: 700;
            margin-right: 20px;
        }
        .ssg-review-count{
            text-decoration: underline;
            margin-right: 10px;
        }
        .ssg-review-user-image{
            img{
                vertical-align: top;
            }
            display: block;
            font-size: 20px;
            color: gray;
        }
    }
    .ssg-product-info-header{
        text-align: left;
        margin: 20px 0;
        padding: 6px 0;
        border-bottom: 1px solid lightgray;
        span{
            border-bottom: 1px solid black;
            padding: 3px 0;
            font-weight: 700;
            font-size: 20px;
        }
    }
    .ssg-product-info{
        text-align: left;
        display: flex;
        .ssg-product-info-dt{
            color: gray;
            min-width: 100px;
            margin-bottom: 30px;
            line-height: 25px;
        }
        .ssg-product-info-dd{
            line-height: 25px;
        }
        .ssg-product-info-barogo{
            text-align: center;
            display: block;
            border: 1px solid lightgray;
            padding: 5px;
            max-width: 90px;
            margin: 10px 0 30px 0;
        }
        .ssg-product-info-question-icon{
            img{
                vertical-align: -5px;
            }
        }
        .ssg-product-info-cardprice{
            font-weight: 700;
            font-size: 18px;
        }
        .ssg-product-info-nointerest{
            text-decoration: underline;
        }
        .ssg-product-info-event{
            p{
                color: $secondary-color;
                font-weight: 700;
            }
        }
        .ssg-product-info-delivery{
            &::first-line{
                font-weight: 700;
            }
        }
    }
    .ssg-warning-direct-transaction{
        color: $emphas-color;
        margin: 40px 0;
        p{
            &:first-child{
                font-size: 18px;
                font-weight: 700;
                margin: 20px 0;
            }
            &:nth-child(2){
                line-height: 20px;
                font-size: 14px;
                span{
                    text-decoration: underline;
                }
            }
        }
        img{
            vertical-align: -5px;
        }
    }
    .ssg-product-info-product-number{
        color: gray;
        text-align: left;
        font-size: 14px;
    }
    .ssg-product-info-report{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        border-bottom: 1px solid lightgray;
        .ssg-product-info-report-left{
            display: flex;
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            img{
                margin-right: 5px;
            }
        }
        .ssg-product-info-report-button{
            border-radius: 30px;
            border: 1px solid lightgray;
            font-size: 12px;
            font-weight: 700;
            padding: 15px;
        }
    }
    .ssg-product-main-img{
        height: 1000px;
        overflow: hidden;
        img{
            width: 100%
        }
    }
    #main-img-checkbox{
        display: none;
    }
    #main-img-checkbox:checked ~ .ssg-product-main-img{
        height: auto;
    }
    .main-img-show-detail{
        display: block;
        width: 150px;
        margin: 30px auto;
        text-align: center;
        font-size: 14px;

    }
    .ssg-customer-review{
        text-align: left;
    }
} 
