$default-color: #222222;
$emphas-color: #ff3e3e;
$secondary-color: #5d30ff;
$background-color: #f5f5f5;
$qna-answer: #f9f8eb;
$daum-mail-gnb-top: #287be4;

$mobile-max: 410px;
$tablet-min: 411px;
$tablet-max: 820px;
$pc-min:821px